<p>Signing up for <%= PRODUCT_NAME %> is easy and fast. You can sign up now and:</p>

  <ul>
  <li><strong>Make getting a good tech job suck less!</strong> 
  <li>Keep track of every job you apply for and where you are in the process
  <li>Organize all your job materials in one place whether cover letter, notes or answers to questions on web forms
  <li>Easily add jobs and automatically import them using our bookmarklet from leading tech job sites like Stack Overflow, Dice, Github and others
  <li>Search across everything with one easy query
</ul>

<div style="text-align:center">
  <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
    Sign Up Today! &raquo;
  <% end %>
</div>
